@import '../../Styling/Variables';

.var_input,
.var_description_input {
  @include input_field($margin: 0 0 0 0);
}

.var_input {
  width: 15vw;
}

.var_description_input {
  width: 29vw;
}

.data_type_select_input {
  height: 4vh;
  margin: 0 0 0 0;

  font: {
    size: 16px;
    family: 'Wix Madefor Display', sans-serif;
  }
}

.max_cell {
  display: flex;
  flex-direction: column;
}

.min_input,
.max_input,
.units_input {
  @include input_field($margin: 0 0 0 0);
}

.units_input {
  width: 7vw;
}

.min_input {
  width: 14vw;
}
