@import '../../Styling/BackgroundImage';

.table_id_container {
  margin: 20vh 0 10vh 10vw;
  min-height: 70vh;
  width: 60vw;
}

.row_header {
  cursor: pointer;
  text-decoration: underline;
}

.integer_div {
  display: flex;
  flex-direction: column;
}
