@import '../../Styling/BackgroundImage';
@import '../../Styling/Variables';

.table_id_container {
  margin: 20vh 0 10vh 10vw;
  min-height: 70vh;
  width: 60vw;
}

.row_header {
  cursor: pointer;
  text-decoration: underline;
}

.integer_row {
  border-bottom: 1px solid $greyColor;
}

#first_integer_cell {
  border-bottom: 1px solid transparent;
}

#integer_value {
  border: none;
}

.integer_div {
  display: flex;
  flex-direction: column;
}

.numerical_header {
  width: 5vw;
}

.edit_div {
  // background-color: chartreuse;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
