// @import 'Variables';

$buttonColor: #080705;
$borderColor: #fffc31;
$buttonEffect: #232323;

@mixin background_image($percent: 50%, $pixels: 50px, $bottom_percent: 50%) {
  background: {
    image: url('./assets/Background.png');
    size: 100vw;
    repeat: no-repeat;
    position: calc($percent - $pixels) $bottom_percent;
  }
  z-index: -1;
}

.search_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include background_image;
}

.search_field {
  display: grid;
  flex-direction: row;
  margin: 40px 0;
  height: fit-content;
  grid-template-columns: 1fr auto 1fr;
}

#search_input {
  background-image: url('./assets/magnifying_glass_search.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30px;
  height: 60px;
  width: 500px;
  font-size: 1.3rem;
  padding-left: 10px;
  grid-column-start: 2;
}

#search_input::placeholder {
  font-size: 1.3rem;
  padding: 5px;
}

.search_button {
  background-color: $buttonColor;
  border: 2px $borderColor solid;
  color: white;
  padding: 18px 36px;
  font: {
    size: 0.7rem;
    weight: 800;
  }
  margin-left: 20px;

  cursor: pointer;
  grid-column-start: 3;
}
.search_button:hover {
  box-shadow: 0 5px 15px rgba(103, 103, 103, 0.8);
  border: 3px $borderColor solid;
}

.search_button:active {
  background-color: $buttonEffect;
  box-shadow: 0 5px 15px rgb(103, 103, 103);
  transform: translateY(4px);
}
.text_above_search {
  font: {
    size: 2rem;
    weight: 800;
  }
}
