$buttonColor: #080705;
$borderColor: #fffc31;
$buttonEffect: #232323;

.loading_spinner {
  vertical-align: center;
  text-align: center;
  padding: 50px;
  margin-left: 470px;
  background-color: rgb(79, 79, 79, 0.1);
  border: 1px solid rgb(79, 79, 79, 0.4);
}

.results_page_container {
  min-height: 81vh;
  margin: 0 470px 0 70px;
}

.image_container {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.background_image_results {
  position: fixed;
  transform: translate(41%, -40%);
  width: 100vw;
}

.search_button_results {
  background-color: $buttonColor;
  border: 2px $borderColor solid;
  color: white;
  padding: 16px 32px;
  font: {
    size: 0.7rem;
    weight: 800;
  }
  margin-left: 20px;
  cursor: pointer;
}
.search_button_results:hover {
  box-shadow: 0 5px 15px rgba(103, 103, 103, 0.8);
  border: 3px $borderColor solid;
}

.search_button_results:active {
  background-color: $buttonEffect;
  box-shadow: 0 5px 15px rgba(103, 103, 103);
  transform: translateY(4px);
}

.search_field_container {
  padding: 10px 0 20px 0;
  margin-top: 19vh;
}

.search_results {
  background-color: none;
  // margin: 0 470px 0 70px;
  z-index: 1;
}

.search_field_results {
  display: flex;
  flex-direction: row;
}

#search_input_results {
  background-image: url('./assets/magnifying_glass_search.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30px;
  height: 50px;
  width: 450px;
  font-size: 1.3rem;
  padding-left: 5px;
}

#search_input_results ::placeholder {
  font-size: 1.3rem;
  padding: 5px;
}

.search_result {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.term_ontology {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #336699;
  font-size: 1.2rem;
}

.pagination {
  text-align: center;
  margin: 0 0 10vh 10vh;
}
