table,
td:not(.icon_cell) {
  border: 1px solid $blackColor;
  border-collapse: collapse;
}

table:first-child {
  border: none;
}

table {
  width: 60vw;
  margin: 0 0 2vh 0;
}

.header_row {
  border-left: transparent;
}

th,
td {
  text-align: left;
  overflow-wrap: break-word;
}
th,
td:not(.icon_cell) {
  padding: 8px 12px;
}

.icon_cell {
  width: 4vw;
}

.small_icon {
  width: 1.5vw;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 2px;
}

.small_icon:hover {
  box-shadow: 0 0 2px 2px rgb(8, 7, 5, 0.2);
}
