table,
td:not(.delete_cell) {
  border: 1px solid $blackColor;
  border-collapse: collapse;
}

table:first-child {
  border: none;
}

table {
  width: 60vw;
  margin: 0 0 2vh 0;
}

.header_row {
  border-left: transparent;
}

th,
td {
  text-align: left;
  padding: 8px 12px;
  overflow-wrap: break-word;
}

th:first-of-type,
td:first-of-type {
  width: 15vw;
}

.delete_image {
  width: 0.9vw;
  cursor: pointer;
}
